/*/ DEFAULT 
        CONTAINER 
                PROPERTIES /*/
/* removes default margin of the page an sets the width an height properties to "border-box" */
* {
    margin: 0;
    box-sizing: border-box;
}

/* defines default attributes and structure for the page */
body {
    background-color: rgb(218, 165, 117);
    margin: 5px;
    display: flex;
    font-family: monospace;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

/* text properties and padding */
h4 {
    font-family: monospace;
    font-size: 1rem;
    font-weight: 100;
    padding-bottom: 2px;
}

output {
    font-family: monospace;
}

/*// ID AND CLASS 
            PROPERTIES //*/
/* sets properties and structure for "heroContainer" id */
#heroContainer {
    height: 50px;
    background-color: rgb(185, 100, 38);
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    --seek-before-width: 0%;
    --volume-before-width: 100%;
    --buffered-width: 0%;
    position: relative;
    margin: 100px 2.5% auto 2.5%;
    width: 95%;
    max-width: 500px;
}

/* sets properties for "container" id */
#container {
    width: 300px;
    height: 35px;
    background-color: rgb(227, 171, 32);
    border-radius: 8px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* sets properties for "playPauseButton" id */
#playPauseButton {
    margin-left: 5px;
    padding-left: 10px;
    padding-right: 10px;
    width: 40px;
    height: 15px;
    cursor: pointer;
}

/* sets properties for "speakerImage" id */
#speakerImage {
    width: 35px;
    margin-left: 5px;
    margin-top: 2%;
    display: flex;
}

/* sets properties for "currentTime" id */
#currentTime {
    margin-left: 10px;
    width: 45px;
}

/* sets properties for "totalTime" id */
#totalTime {
    margin-right: 10px;
    width: 50px;
}

/* sets properties for "seekBar" id */
#seekBar {
    width: 300px;
    margin-right: 10px;
    cursor: pointer;
}

/* sets properties for "volumeBar" id */
#volumeBar {
    display: flex;
    margin-top: 5%;
    margin-right: 5px;
    width: 100px;
    cursor: pointer;
}

/* sets properties for "songSelect" id */
#songSelect {
    width: 400px;
    background-color: rgb(255, 218, 94);
    margin: 20px;
    padding-left: 20px;
    border-radius: 15px;
    display: flex;
    flex-flow: column;
}

/* sets properties for "song1" id */
#song1 {
    width: 400px;
    height: 50px;
    line-height: 50px;
}

/* sets properties for "song2" id */
#song2 {
    width: 400px;
    height: 50px;
    line-height: 50px;
}

/* sets properties for "song3" id */
#song3 {
    width: 400px;
    height: 50px;
    line-height: 50px;
}

/* sets properties for "song4" id */
#song4 {
    width: 400px;
    height: 50px;
    line-height: 50px;
}

/* changes the cursor when the mouse is over the "songSelect" container */
#songSelect:hover {
    cursor: pointer;
}

/*/// SLIDERS 
        PROPERTIES ///*/
/* WEBKIT */
#volumeBar {
    width: 58%;
}
#volumeBar::-webkit-slider-runnable-track {
    background: rgba(255, 255, 255, 0.6);
}
#volumeBar::-moz-range-track {
    background: rgb(121, 73, 12);
}
#volumeBar::-ms-fill-upper {
    background: rgb(121, 73, 12);
}
#volumeBar::before {
    width: var(--volume-before-width);
}

input[type="range"] {
    position: relative;
    -webkit-appearance: none;
    width: 48%;
    margin: 0;
    padding: 0;
    height: 5px;
    float: left;
    outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: linear-gradient(to right, rgba(0, 125, 181, 0.6) var(--buffered-width), rgba(0, 125, 181, 0.2) var(--buffered-width));
}
input[type="range"]::before {
    position: absolute;
    content: "";
    top: 0px;
    left: 0;
    width: var(--seek-before-width);
    height: 5px;
    background-color: rgb(121, 73, 12);
    cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
    position: relative;
    -webkit-appearance: none;
    box-sizing: content-box;
    border: 1px solid rgb(121, 73, 12);
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #72220e;
    cursor: pointer;
    margin: -7px 0 0 0;
}
input[type="range"]:active::-webkit-slider-thumb {
    transform: scale(1.2);
    background: rgb(248, 177, 83);
}

/* MOZILLA*/
input[type="range"]::-moz-range-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: linear-gradient(to right, rgba(0, 125, 181, 0.6) var(--buffered-width), rgba(0, 125, 181, 0.2) var(--buffered-width));
}
input[type="range"]::-moz-range-progress {
    background-color: #b55100;
}
input[type="range"]::-moz-focus-outer {
    border: 0;
}
input[type="range"]::-moz-range-thumb {
    box-sizing: content-box;
    border: 1px solid #007db5;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
}
input[type="range"]:active::-moz-range-thumb {
    transform: scale(1.2);
    background: #007db5;
}

/* MICROSOFT */
input[type="range"]::-ms-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: transparent;
    border: solid transparent;
    color: transparent;
}
input[type="range"]::-ms-fill-lower {
    background-color: #8c9b38;
}
input[type="range"]::-ms-fill-upper {
    background: linear-gradient(to right, rgba(0, 181, 9, 0.6) var(--buffered-width), rgba(33, 255, 4, 0.2) var(--buffered-width));
}
input[type="range"]::-ms-thumb {
    box-sizing: content-box;
    border: 1px solid #007db5;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
}
input[type="range"]:active::-ms-thumb {
    transform: scale(1.2);
    background: #007db5;
}

